.chat-main {
  max-height: 75vh;
  margin: 0 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.473);
}

main::-webkit-scrollbar-thumb {
  background: #2bbbad7e;
}

.chat-form {
  height: 10vh;
  width: 80%;
  position: fixed;
  bottom: 0px;
  display: flex;
  font-size: 1.5rem;
}

.chat-input {
  margin: 90px;
  line-height: 1.5;
  height: 5vh;
  width: 150%;
  font-size: 1.5rem;
  background: #fff;
  color: #000;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
}

.chat-button {
  margin: -90px;
  height: 5vh;
  width: 20%;
  border-radius: 0 5px 5px 0;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 15px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #2bbbad;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media only screen and (max-width: 600px) {
  .innercontent {
    padding: 10px;
  }

  .chat-main {
    max-height: 70vh;
    margin: 0;
  }
  .chat-form {
    margin: 0;
    height: 10vh;
    width: 95%;
  }
  .chat-input {
    margin: 0;
    line-height: 1.5;
    height: 7vh;
    width: 100%;
    font-size: 1.5rem;
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
  }

  .chat-button {
    margin: 0;
    height: 7vh;
    width: 25%;
    border-radius: 0 5px 5px 0;
  }
}
